<!-- <div>
  <a routerLink="/editor">Create</a>
</div> -->

<div class="welcome-panel">
  <div class="welcome-panel-header">
    <img src="/assets/img/i8n-logo.png" />
    <h1>Welcome to i18n-editor</h1>
    <p>This is a tool to manage the resources files in different languages</p>
  </div>
  <div class="welcome-panel-body">
    <div>
      <h2>What do you want?</h2>
      <button class="btn btn-primary" (click)="folderInput.click()" type="button" mat-raised-button>Load folder</button>
      <input hidden type="file" #folderInput multiple />
      <a class="btn" type="button" mat-raised-button routerLink="/layout">Create new</a>
    </div>
  </div>
  <div class="welcome-panel-footer">
    Copyright 2019. Developed by: <b> Julian Mora - Yilver Molina</b>
  </div>
</div>