<div class="i18n-component">
  <h1 class="i18n-component_title">
    Welcome to {{ title }}!
  </h1>

  <router-outlet></router-outlet>

  <input type="file" (change)="readMultiFiles($event)" multiple />
  <button (click)="save()">Save all</button>

  <div *ngIf="rw.hasFiles" class="i18n-component_category_list">
    <div *ngFor="let c of (rw.categoryList | keyvalue); let i = index" class="i18n-component_category_list__item">
      <div class="i18n-component_category_list__item--title">#{{ i + 1 }}: {{ c.key }}</div>
      <span (click)="addKey()">+</span>
      <div *ngFor="let transl of c.value">
        <label>
          {{ transl.lang }}
          <input [(ngModel)]="transl.text" />
          <!-- <app-options [list]="[{ display: 'Inner', value: 1 }, { display: 'Copy as Angular i18n', value: 2 }]"></app-options> -->
        </label>
      </div>
    </div>
  </div>
  <template ></template>
</div>
