<div class="i18n-component">
  <h1 class="i18n-component_title">
    Welcome to {{ title }}!
  </h1>

  <router-outlet></router-outlet>

  <input type="file" (change)="readMultiFiles($event)" multiple />
  <button (click)="save()">Save all</button>

  <div *ngIf="rw.hasFiles" class="i18n-component_category_list">
    <div *ngFor="let c of (rw.categoryList | keyvalue); let i = index" class="i18n-component_category_list__item">
      <div class="i18n-component_card--title">#{{ i + 1 }}: {{ c.key }}</div>
      <div class="i18n-component_card--content">
        <ng-container *ngFor="let transl of c.value">
          <label>
            {{ transl.lang }}
            <input [(ngModel)]="transl.text" />
          </label>
        </ng-container>
      </div>
    </div>
  </div>
</div>
