<app-sidenav>
  <div class="editor-component">

    <h1>Welcome to i18n-editor!</h1>

    <button type="button" mat-raised-button (click)="imgFileInput.click()">Add a resources</button>
    <input hidden type="file" #imgFileInput (change)="readMultiFiles($event)" multiple />
    &nbsp;&nbsp;
    <button (click)="save()" mat-raised-button [disabled]="!rw.hasFiles">Download</button>
    <br><br>
    <mat-divider></mat-divider>
    <br>

    <div>
      <div *ngIf="rw.hasFiles">
        <mat-form-field>
          <input matInput [placeholder]="'Add new translation key'" [(ngModel)]="modelNewKey" />
        </mat-form-field>
        <button mat-button (click)="addNewKey()">Add</button>
      </div>

      <br>

      <mat-accordion *ngFor="let c of (rw.categoryList | keyvalue); trackBy: trackCategoryByKey; let i = index;">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              #{{ i + 1 }}. {{ c.key }}
            </mat-panel-title>
            <mat-panel-description>
              {{ c.value.length }} elements
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <mat-nav-list>
              <mat-list-item *ngFor="let transl of c.value; trackBy: trackResourceByKey">
                <mat-form-field matLine>
                  <input matInput [placeholder]="transl.lang" [(ngModel)]="transl.text" />
                </mat-form-field>
                <div *ngIf="states[i]?.inner" matLine class="editor-component_states--inner">
                  <div [innerHTML]="transl.text"></div>
                </div>
                <mat-divider matLine></mat-divider>
              </mat-list-item>
            </mat-nav-list>
          </div>
          <mat-action-row *ngIf="states.length > 0">
            <ng-container>
              <mat-form-field matLine>
                <input matInput [placeholder]="'Enter the filename for the new language'" [(ngModel)]="modelNewLanguage" />
              </mat-form-field>
              <button mat-button (click)="addLanguage(false, c.key)">Add only to this resource</button>
              <button mat-button (click)="addLanguage(true, c.key)">Add to all resources</button>
            </ng-container>
            <div>
              <button mat-button [matMenuTriggerFor]="animals">Options</button>
              <mat-menu #animals="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="render">Render</button>
                <button mat-menu-item [matMenuTriggerFor]="format">Format</button>
                <button mat-menu-item (click)="rw.removeResourceKey(c.key)">Remove this key</button>
              </mat-menu>
              <mat-menu #render="matMenu">
                <button mat-menu-item>
                  <mat-checkbox (change)="onChangeInner($event, i)" title="Render HTML content in each translation">
                    Inner HTML</mat-checkbox>
                </button>
              </mat-menu>
              <mat-menu #format="matMenu">
                <button mat-menu-item (click)="copyFormat('ngx-translate', c.key)">ngx-translate format</button>
              </mat-menu>
            </div>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</app-sidenav>