.editor-component {
  padding-bottom: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  &_header {

  }

  &_info {
    position: fixed;
    right: 3rem;
    top: 4rem;
    color: #9e9e9e8c;
    text-align: right;

    &__item {
      display: block;
    }
  }

  &_input {
    display: block;
    border-bottom: 1px solid #CCC;
    padding: .5rem;

    label {
      display: block;
      font-size: small;
      margin-left: 7px;
      margin-bottom: 3px;
    }

    input {
      display: block;
      width: 96%;
      margin: 0 auto;
      border-radius: 3px;
      outline: none;
      border: 1px solid #CCC;
      padding: 5px 10px;
    }

    &:hover {
      background-color: #fafafa;

      label {
        font-weight: 600;
      }
    }
  }

  &_states {
    &--inner {
      background-color: #eee;
      border-left: 4px solid #673ab7;
      padding-left: 10px !important;
      border-radius: 4px;
    }
  }

  &_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.6rem;
  }

  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .example-tree-node {
    display: block;
  }

  .example-tree-node .example-tree-node {
    padding-left: 40px;
  }
}
