.empty-content {
  text-align: center;
  width: 100%;

  img {
    width: 150px;
    margin-right: auto;
    margin-left: auto;
  }
}

.resource-panel {
  margin: 10px 0px 0px 0px;
}

.loading-panel {
  width: 95px;
  height: 60px;
  position: absolute;
  top: 40%;
  left: 48%;
  z-index: 1000;
}

.box_editor {
	display: block;
	overflow-y: auto;
	max-height: 74vh;
	height: 100%;
}

.empty_state {
  margin-top: 8rem;
}