<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="#">
        i18n editor
      </a>

      <a type="button" (click)="imgFileInput.click()" class="navbar-item">
        Add resources
      </a>
      <input hidden type="file" #imgFileInput (change)="readMultiFiles($event)" multiple />

      <a type="button" (click)="excelFileInput.click()" class="navbar-item">
        Import Excel file
      </a>
      <input hidden type="file" #excelFileInput (change)="readExcelFile($event)" />
    </div>

    <ng-container *ngIf="!isEmpty">
      <div class="navbar-end">
        <div class="navbar-item">
          <span class="tag is-info is-normal">{{ translationGroups.length }} resources</span>

          <ng-container *ngIf="resourcesGroup">
            &nbsp;&nbsp;
            <span class="tag is-primary is-normal">{{ resourcesGroup.detail.length }} files</span>
          </ng-container>
        </div>

        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-primary is-small" (click)="save()">
                <span class="icon">
                  <i class="fas fa-download"></i>
                </span>
                <span>Download</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</nav>

<section *ngIf="isEmpty" class="hero is-primary is-fullheight-with-navbar is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <ng-container *ngIf="loading; else loading">
        <p class="title">
          No resources added yet
        </p>
        <button class="button is-primary is-light" (click)="imgFileInput.click()">Add JSON resources</button>
      </ng-container>
    </div>
  </div>

  <ng-template #loading>
    <div class="loading-panel">
      <div id="bowlG">
        <div id="bowl_ringG">
          <div class="ball_holderG">
            <div class="ballG">
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</section>

<ng-container *ngIf="!isEmpty">
  <br>

  <section class="container is-fluid hero is-fullheight-with-navbar">

    <!-- Side nav -->
    <div class="columns">
      <div class="column is-one-quarter">
        <nav class="panel">
          <p class="panel-heading">
            Translations
          </p>
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Search" [(ngModel)]="filter" (ngModelChange)="filterResources($event)">
              <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>

          <p class="panel-tabs">
            <a [class.is-active]="currentTranslationTab == 'all'" (click)="currentTranslationTab = 'all'">All</a>
            <a [class.is-active]="currentTranslationTab == 'addTranslation'" (click)="currentTranslationTab = 'addTranslation'">Add translation</a>
            <a [class.is-active]="currentTranslationTab == 'addFile'" (click)="currentTranslationTab = 'addFile'">Add file</a>
          </p>

          <aside class="menu">
            <ng-container [ngSwitch]="currentTranslationTab" class="menu-list">
              <ng-container *ngSwitchCase="'all'">
                <ul class="menu-list">

                  <!-- Missing files -->
                  <ng-container *ngIf="getMissingFiles() as missingFiles">
                    <li *ngIf="missingFiles.length" class="is-size-7">
                      <a [title]="missingFiles.join(', ')">{{ missingFiles.length }} missing</a>
                    </li>
                  </ng-container>

                  <li *ngFor="let c of translationGroups; trackBy: trackCategoryByKey; let i = index;" (click)="viewResource(i)" class="is-size-7">
                    <a [class.is-active]="c.resource == resourcesGroup?.resource">
                      <span class="tag is-dark is-normal">{{ c.detail.length }}</span>&nbsp;&nbsp; {{ c.resource }}
                    </a>
                  </li>
                </ul>
              </ng-container>

              <ng-container *ngSwitchCase="'addTranslation'">

                <section class="section">
                  <div class="container">
                    <div class="field">
                      <label class="label">File name</label>
                      <div class="control">
                        <input class="input" placeholder="Enter filename for new language" [(ngModel)]="modelNewKey" />
                      </div>
                    </div>

                    <button (click)="addNewKey()" class="button is-link is-small">
                      Add file
                    </button>
                  </div>
                </section>

                <div class="editor-sidenav_content">
                  <div class="editor-sidenav_header">
                    <span *ngIf="totalResources" class="tag tag-default">Found: {{ totalResources.length }}</span>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="'addFile'">
                <section class="section">
                  <div class="container">
                    <div class="field">
                      <label class="label">Name</label>
                      <div class="control">
                        <input class="input" placeholder="Enter filename for new language" [(ngModel)]="modelNewLanguage" />
                      </div>
                    </div>

                    <ng-container *ngIf="resourcesGroup">
                      <button (click)="addLanguage(false, resourcesGroup.resource)" class="button is-link is-small">
                        Add only to this resource
                      </button>
                      <br>
                      <button (click)="addLanguage(true, resourcesGroup.resource)" class="button is-link is-light is-small">
                        Add to all resources
                      </button>
                    </ng-container>
                  </div>
                </section>
              </ng-container>

            </ng-container>
          </aside>
        </nav>
      </div>


      <!-- Body -->
      <div class="column">
        <nav *ngIf="resourcesGroup" class="panel">
          <div class="panel-heading is-flex">
            <input type="text" [(ngModel)]="translationGroups[currentTranslationGroup].resource" class="input is-small is-rounded">
            &nbsp;&nbsp;
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <button class="button is-small is-rounded" aria-haspopup="true" aria-controls="dropdown-menu4">
                  <span>Options</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item" (click)="removeResourceKey(translationGroups[currentTranslationGroup].resource)">
                    Remove this translation
                  </a>
                  <a class="dropdown-item" (click)="copyFormat('ngx-translate', translationGroups[currentTranslationGroup].resource)">
                    Copy <i>ngx-translate</i> format
                  </a>
                  <a class="dropdown-item">
                    <label class="checkbox">
                      <input type="checkbox" (change)="onChangeInner($event, i)">
                      Render HTML
                    </label>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <ng-container *ngFor="let transl of translationGroups[currentTranslationGroup].detail; trackBy: trackResourceByKey">
            <a class="panel-block">
              <div class="field is-full-width">
                <label class="label is-small">{{ transl.filename }}</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-small" type="text" [placeholder]="transl.filename" [(ngModel)]="transl.text">
                  <span class="icon is-small is-left">
                    <i class="fas fa-font"></i>
                  </span>
                </div>
              </div>
            </a>
            <a *ngIf="renderChecked" class="panel-block">
              <div class="box is-full-width">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <div [innerHTML]="transl.text"></div>
                    </div>
                  </div>
                </article>
              </div>
            </a>
          </ng-container>
        </nav>
      </div>
    </div>
  </section>
</ng-container>