<app-sidenav>
  <div class="editor-component">


    <div class="editor-component_header">
      <div class="editor-component_header__left">
        <button type="button" mat-raised-button (click)="imgFileInput.click()">Add a resources</button>
        <input hidden type="file" #imgFileInput (change)="readMultiFiles($event)" multiple />
        &nbsp;&nbsp;
        <button (click)="save()" mat-raised-button [disabled]="!rw.hasFiles">Download</button>
      </div>
      <div class="editor-component_header__right">
        <div *ngIf="rw.hasFiles">
          <span class="tag tag-default">{{ rw.fileList.length }} files</span>
          <span class="tag tag-default">{{ rw.categoryList.length }} resources</span>
        </div>
      </div>
    </div>
    <div class="editor-component_body">
      <div class="empty-content" *ngIf="!rw.hasFiles && !loading">
        <img src="assets/img/empty-trash.png" />
        <br />
        <span>No resources have been added</span>
      </div>
      <div class="loading-panel">
        <div id="bowlG" *ngIf="loading">
          <div id="bowl_ringG">
            <div class="ball_holderG">
              <div class="ballG">
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-drawer-container class="editor-container" *ngIf="rw.hasFiles" autosize>
        <mat-drawer #drawer class="editor-sidenav" opened toggle mode="side">
          <div class="editor-sidenav_header">
            <mat-form-field>
              <input matInput [placeholder]="'Add new key'" [(ngModel)]="modelNewKey" />
            </mat-form-field>
            &nbsp;<button mat-raised-button (click)="addNewKey()">Add</button>
          </div>
          <div class="editor-sidenav_content">
            <mat-nav-list *ngIf="!loading">
              <mat-list-item *ngFor="let c of rw.categoryList; trackBy: trackCategoryByKey; let i = index;"
                (click)="viewResource(i)">
                <a matLine href="javascript:void(0);" title="{{ c.keyName }}">{{ i + 1 }}. {{ c.keyName }}</a>
                <button mat-icon-button>
                  <mat-icon><span class="tag tag-primary">{{ c.languages.length }}</span></mat-icon>
                </button>
              </mat-list-item>
            </mat-nav-list>
          </div>
        </mat-drawer>

        <div class="editor-sidenav-content">
          <div class="editor-sidenav-content_header">
            <button type="button" mat-button (click)="drawer.toggle()">
              Toggle resources
            </button>
            <br />
          </div>
          <div class="editor-sidenav-content_body">
            <mat-accordion>
              <!-- <ng-container *ngFor="let c of rw.categoryList; trackBy: trackCategoryByKey; let i = index;"> -->
              <ng-container *ngIf="resourcesGroup">
                <mat-expansion-panel class="resource-panel" [expanded]="true" [disabled]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <input type="text" [(ngModel)]="resourcesGroup.keyName" class="editor-component__focus_edit">
                    </mat-panel-title>
                    <mat-panel-description style="display: flex; justify-content: flex-end;">
                      <span class="tag tag-default">{{ resourcesGroup.languages.length }} elements</span>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <ng-container *ngFor="let transl of resourcesGroup.languages; trackBy: trackResourceByKey">
                      <div class="editor-component_input">
                        <label>{{ transl.lang }}</label>
                        <input [placeholder]="transl.lang" [(ngModel)]="transl.text" />
                      </div>

                      <div *ngIf="state.inner" class="editor-component_states--inner">
                        <div [innerHTML]="transl.text"></div>
                      </div>

                      <fieldset *ngIf="transl.children">
                        <legend>Nested child</legend>
                        <fieldset *ngFor="let child of transl.children" class="editor-component_input">
                          <legend>{{ child.keyName }}</legend>
                          <input [(ngModel)]="child.text">
                        </fieldset>
                      </fieldset>
                    </ng-container>

                    <div *ngIf="states.length > 0" class="editor-component_footer">
                      <mat-form-field matLine>
                        <input matInput [placeholder]="'Enter filename for new language'"
                          [(ngModel)]="modelNewLanguage" />
                      </mat-form-field>
                      <button mat-button (click)="addLanguage(false, resourcesGroup.keyName)">
                        Add only to this resource
                      </button>
                      <button mat-button (click)="addLanguage(true, resourcesGroup.keyName)">
                        Add to all resources
                      </button>
                      <div>
                        <button mat-button [matMenuTriggerFor]="animals">Options</button>
                        <mat-menu #animals="matMenu">
                          <button mat-menu-item [matMenuTriggerFor]="render">Render</button>
                          <button mat-menu-item [matMenuTriggerFor]="format">Format</button>
                          <button mat-menu-item (click)="rw.removeResourceKey(resourcesGroup.keyName)">
                            Remove this key
                          </button>
                        </mat-menu>
                        <mat-menu #render="matMenu">
                          <button mat-menu-item>
                            <mat-checkbox (change)="onChangeInner($event, i)"
                              title="Render HTML content in each translation">
                              Render
                            </mat-checkbox>
                          </button>
                        </mat-menu>
                        <mat-menu #format="matMenu">
                          <button mat-menu-item
                            (click)="copyFormat('ngx-translate', resourcesGroup.keyName)">ngx-translate
                            format</button>
                        </mat-menu>
                      </div>
                    </div>
                  </ng-template>
                </mat-expansion-panel>
              </ng-container>
            </mat-accordion>
          </div>
        </div>
      </mat-drawer-container>
    </div>
  </div>
</app-sidenav>