/* You can add global styles to this file, and also import other style files */

body {
  background-color: #fafafa;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.is-full-width {
  width: 100%;
}